@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: 
        linear-gradient(180deg, #FFB7B7 0%, #727272 100%), 
        radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), 
        linear-gradient(238.72deg, #FFDDDD 0%, #720066 100%), 
        linear-gradient(127.43deg, #00FFFF 0%, #FF4444 100%), 
        radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), 
        linear-gradient(127.43deg, #B7D500 0%, #3300FF 100%);
    background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge, normal;
    min-height: 100vh;
}

.content {
    background-color: #fff;
    border-radius: 8px;
    margin: 40px auto;
    padding: 20px;
    width: 600px;
}

.jokes-list {
    gap: 30px;
}

.jokes-list__item {
    display: grid;
    grid-template-columns: 1fr 70px;
    background-color: #FFDDDD;
    color: #260000;
    border-radius: 6px;
    padding: 20px;
}

.jokes-list__btn-fav {
    background-image: url('/images/favorite-icon.png');
    width: 50px;
    height: 50px;
}